STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=rrediss://default:AUppAAIncDIyOTBmYzY0MWU4YTg0ZmM1YmUxZGQ2MWU1MmI2MDNmOXAyMTkwNDk@comic-bream-19049.upstash.io:6379
JWT_SECRET=sEGH8gzdQfQ5u90Nn8RLoDmQ+Z8hGtHzXtOwcQOXYZKHdnYMuYN7z1vx3gVEXl6Q
COOKIE_SECRET=jN29NHMd4KxtVosMZIEZ0E470gk2wkNyenvyhqVm3q
DATABASE_URL=postgresql://tons_hub_db_user:m8GRDlxjw30LParrOX1qZTYF4RQX2LSP@dpg-d3pks063jp1c738213ng-a/tons_hub_db
DB_NAME=medusa-v2
